---
import '../scss/styles.scss';
---
<header class="container">
    <div class="row row-header">
        <div class="col col-header">
            <a href="/">
                <img class="img-header" src="/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="col col-header2">
            <ul class="ul">
                <li class="li-header"><a href="about">About</a></li>
                <li class="li-header"><a href="work">Work</a></li>
                <li class="li-header"><a href="blog">Blog</a></li>
                <li class="li-header"><a href="contact">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
