//small devices
@media (max-width: 575px) {
    header {
        width: 100%;
        max-width: 100%;
        background-color: whitesmoke;
        color: black;
        padding: 15px;
        .row.row-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .col-header {
                display: flex;
                flex-direction: column;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img.img-header {
                        width: 100%;
                        max-width: 20%;
                    }
                } 
            }
            .col-header2 {
                display: flex;
                flex-direction: column;
                .ul {
                    flex-direction: column;
                    li.li-header {
                        display: flex;
                        justify-content: center;
                        font-size: 14px;
                        font-family: "Roboto Condensed", serif;
                    }
                }
            }
        }
    }

}